{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Home page</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>
    <center>
    <h1>Index</h1>
    <img src="{% static 'images/logo.png' %}"/>
    <h2>{{curso}}</h2>
    <h2>{{logado}}</h2>
    <h1>{{name}}</h1>
    <table>
        <thead>
            <tr>
                <th>Product</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
        {% for product in Product %}
            <tr>
                <td><a href="{% url 'product' product.id %}">{{product.nome}}</a></td>
                <td>{{product.preco}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>    
    <button onclick="teste();">Click aqui!</button>

</center>
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
</body>
</html>